body{
	backgroud: #ffffff;
}
a{
	color: #ffddff;
	font-size:30px;
}
.main{
	color: #ffddff;
	font-size:30px;
}
h1 {
background: linear-gradient(transparent 70%, #a7d6ff 70%);
}
 .canvas {
    background-image:
      linear-gradient(lightblue, white 50%);
  }