body{
background: #51443C; 
}
a{
color:#C6F2E1;
text-decoration:none;
}
.main{
color: #C6F2E1;
font-size: 25px;
}
.maturi{
background: #231409;
text-align:center;
position: relative;
padding: 0.3em;
border:0.5em;
}

.maturi:after {
  content: '';
  position: absolute;
  left: 0;
    bottom: 0;
  width: 100%;
    height:5px;
    background: repeating-linear-gradient(-45deg, #50CCA9, #50CCA9 2px, white 2px, white 4px);
border:0.5em;
  }

.maturi a{
background: #231409;
text-align:center;
border-bottom: dotted 3px #D7C7BB;

}

.oishi{
text-align:center;
}
.oishi img{
height:200px;
width:auto;
}

.mint img{
  padding: 0.5em 1em;
    margin: 2em 0;
border:solid  5px #D1D5D4;
box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);/*影*/
}
