body{
background: #51443C; 
}
a{
color:#C6F2E1;
text-decoration:none;
}
.main{
color: #C6F2E1;
font-size: 25px;
}
.maturi{
background: #231409;
text-align:center;
}
.oishi{
background: #231409;
text-align:center;
}
oishi img{
weigt:250px;
height:auto;
}

