.midashi {
  background: linear-gradient(transparent 50%, #a8eaff 50%);
text-align:center;

  }

.honbun{
text-align:center;
background:#DEFAFB;
}

.name{
	text-align:center;
	font-size: 40px;
	
}

a{
text-decoration: none;
color:black;
}

.color1{
            text-align: center;
            background-image: url("img/osawa.jpeg");
            background-position: center;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
}